<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ScientistApp</title>

    <link rel="stylesheet" href="/public/styles/mainMenu.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cafda4e46d.js" crossorigin="anonymous"></script>
</head>

<body>
    
    <div class="navbar-container">
        <nav>
            <div class='logo'>ScientistApp</div>
            <div class="link-box">
                <div class="link-item">
                    <div class="link">Sing Out</div>
                    <a href="/logout" class="link-icon"><i class="fas fa-sign-out-alt"></i></a>
                </div>
            </div>
        </nav>
    </div>

    <div class="menu-container">
        <div class="streaming-wrapper">
            <div class="streaming-content">
                <iframe width="420" height="315" src="https://www.youtube.com/embed/watch?v=W6h4bV4_hxQ?autoplay=1&mute=1" frameborder="0"> </iframe>
            </div>
        </div>
        <!-- <input type="text" name="givenName" <% if(locals.givenName) {%> value="<%= givenName %>" <% } %>/><br/> -->
        <div class="info-wrapper">
            <div class="info-content" >
                <h2 class="info-header">Informações Gerais dos Robôs </h2>
                        <br>
                        <div class="radio-robots">
                        <% for(var i = 0; i < robots.length; i++) { %>
                        <% var robot = robots[i]; %>
                        <% if(i === 0) { %>  <input type="radio" id="radio-robo-<%= robot['Id'];%>" class='radio-robots' name="robots" value="<%= robot['Id'];%>" onclick="handleClick(this);" checked > <% } else {%>
                        <input type="radio" id="radio-robo-<%= robot['Id'];%>" class='radio-robots' name="robots" onclick="handleClick(this);" value="<%= robot['Id'];%>" > <% } %>
                        <label for="robots"><b>Robô <%= robot['Id'];%> - IP: <%= robot['Ip']%></b></label>
                        <br><br><br>
                        <% } %>
                    </div>
            </div>
        </div>
        <div class="sensor-wrapper">
            <div class="sensor-content">
                <div class="chart-box">
                    <canvas id="sensorDistancia" width="400" height="400" ></canvas>
                    <canvas id="sensorTemperatura" width="400" height="400" ></canvas>
                    <canvas id="sensorLuz" width="400" height="400" ></canvas>
                    <canvas id="sensorGas" width="400" height="400" ></canvas>
                    <canvas id="sensorFumaca" width="400" height="400" ></canvas>
                </div>
            </div>
            
        </div>
    </div>

    <!-- <div class="footer-container">

    </div> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../public/javascript/chart.js"></script>
</body>

</html>